.header {
  background-color: $white-color;
  border-bottom: 1px solid #ececec;

  &__container {
    @include flex(space-between, center, flex);
    position: relative;
    height: 60px;
    @media screen and (min-width: 768px) {
      height: 80px;
    }
  }
}

.logo {
  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: $accent-color;
  @include flex(center, center, flex);
  &__accent {
    color: #000000;
  }
}

.logos {
  color: $white-color;
}

@media screen and (min-width: 768px) {
  .navigation__item:not(:last-child) {
    margin-right: 50px;
  }
}
.navigation__list {
  display: flex;
  @media screen and (min-width: 768px) {
    margin-left: 88px;
    margin-right: 87px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
    margin-right: 315px;
  }
}

.navigation__link {
  position: relative;
  padding: 32px 0;
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: $title-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @extend %hover-style;
}

.navigation__link--current {
  color: $accent-color;
  text-decoration: none;
}

.navigation__link--current::after {
  position: absolute;
  @extend %style-after;
}

.contacts {
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    @include flex(center, flex-start, flex);
    flex-direction: column;
  }
  @media screen and (min-width: 1200px) {
    @include flex(center, center, flex);
    flex-direction: row;
    margin-bottom: 0;
  }
}

.contacts__link {
  @include flex(center, center, flex);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: $primary-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @extend %hover-style;
  &:hover .contacts__icon {
    fill: $accent-color;
  }

  &:focus .contacts__icon {
    fill: $accent-color;
  }
  @media screen and (min-width: 1200px) {
    @include flex(center, center, inline-flex);
  }
}

.contacts__item:not(:last-child) {
  @media screen and (max-width: 1199px) {
    margin-bottom: 10px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 30px;
  }
}

.contacts__icon {
  margin-right: 8px;
  fill: $primary-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 1200px) {
    margin-right: 10px;
  }
}
.header__model {
  @media screen and (max-width: 767px) {
    display: none;
  }
  display: flex;
}
.navigation-menu__button {
  display: flex;
  align-items: center;
  border: 0;
  background-color: transparent;
  padding: 0;
  position: relative;
  z-index: 5;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.navigation-menu__button .menu-btn__close {
  display: none;
}

.navigation-menu__button.is-open .menu-btn__close {
  display: block;
}

.navigation-menu__button.is-open .menu-btn__menu {
  display: none;
}

.header__mobile {
  display: none;
  overflow: auto;
  @media screen and (min-width: 768px) {
    display: none;
  }

  &.is-open {
    padding: 48px 40px;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $white-color;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1;
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
}
.social-menu {
  margin-top: auto;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  @media screen and (min-width: 768px) {
    display: none;
  }

  &__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: #2196f3;
  }
}

.social-menu__item {
  &:not(:last-child) {
    margin-right: 10px;

    flex-wrap: wrap;
  }
  &:not(:last-child)::after {
    content: '';
    margin-left: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}

.navigation__list--menu {
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.navigation__item--menu {
  text-align: left;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;

  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.navigation__link--menu {
  text-decoration: none;
  color: $title-color;
  &.current {
    color: $accent-color;
  }
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.menu-btn__menu:hover,
.menu-btn__close:hover,
.menu-btn__menu:focus,
.menu-btn__close:focus {
  fill: $accent-color;
}
.contacts--menu {
  margin-top: auto;
  display: flex;
  flex-direction: column-reverse;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.contacts__item--menu {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  margin-bottom: 32px;

  &:not(:last-child) {
    margin-bottom: 0;
  }
}

.contacts__link--menu {
  text-decoration: none;
  color: $primary-color;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  @extend %hover-style;
  &.current {
    color: $accent-color;
    font-size: 34px;
    line-height: 1.17;
  }
}
