/*project*/
.section-project {
    padding-top: 60px;
    padding-bottom: 60px;
}

.filter-project {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;

    &__button {
            border-radius: 4px;
            padding: 6px 24px;
            cursor: pointer;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.62;
            color: $title-color;
            transition: color, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
}
 @media screen and (min-width:480px){
    .filter-project{
display: flex;
    flex-wrap: wrap;
    width: 326px;
    }
        .filter-project__item {
            margin-right: 8px;}
    .filter-project__item:nth-child(3n) {
           margin-right: 0;
       }
 }
  @media screen and (min-width:768px){
.filter-project{
    @include flex(center, center, flex);
    text-align: center;
    width: 575px;
    margin: 0 auto;
}
.filter-project__item {
    margin-right: 8px;
}
 .filter-project__item:nth-child(5n) {
     margin-right: 0;
 }
  }
.filter-project__item {
margin-bottom: 15px;
    border-radius: 4px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}
.filter-project__item:hover,
.filter-project__item:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
.filter-project .filter-project__button:hover,
.filter-project .filter-project__button:focus {
    color: $white-color;
    background-color: $accent-color;
}
.project-work {
  margin-top: 25px;
    &__link {
            text-decoration: none;
        }
}
.project-work__item {
    background-color: $white-color;
    
   
    border: 1px solid #eeeeee;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}
 @media screen and (min-width:480px){
    .project-work__item{
width: 450px;
&:not(:last-child) {
        margin-bottom: 30px;
    }
    }
 }
  @media screen and (min-width:480px){
    .project-work__item{
        width: 354px;
        margin-right: 15px;
        &:not(:last-child){
            margin-bottom: 30px;
        }
    }
    .project-work{
        flex-wrap: wrap;
        display: flex;
        margin-right: -15px;
    }
  }
.project-work__item:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-work__overlay {
    position: relative;
    overflow: hidden;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-work__meta {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: $accent-color;
    padding: 63px 24px;
    transform: translateY(100%);
    opacity: 0;
    overflow: hidden;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-work__link:hover .project-work__meta {
    opacity: 1;
}
.project-work__link:hover .project-work__meta {
    transform: translateY(0);
}
.project-work__content {
    padding: 20px 24px;
}
.project-work__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: $white-color;
    margin: 0;
}
.project-work__title {
    margin-top: 0;
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    text-decoration: none;
    color: $title-color;
}
.project-work__product {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    text-decoration: none;
    color: $primary-color;
}