/*client*/
.client {
    padding-top: 60px;
    padding-bottom: 60px;
    &__title {
            margin-top: 0;
            margin-bottom: 30px;
            margin-left: 0;
            margin-right: 0;
            font-weight: 700;
            font-size: 36px;
            line-height: 1.16;
            text-align: center;
            letter-spacing: 0.03em;
            color: $title-color;
        }
}
.client__list {
    @extend %flex-wrap;
}
.client__item{
            margin-right: 30px;
            margin-bottom: 30px;
        
}
 .client__item:nth-child(2n) {
     margin-right: 0;
 }
.client__link {
    border: 1px solid #afb1b8;
    border-radius: 4px;
    width: 210px;
    height: 92px;
    @include flex(center, center, flex);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
            border: 1px solid $accent-color;
        }
        &:focus {
            border: 1px solid $accent-color;
        }
}
.client__icon {
    @include flex(center, center, flex);
    fill: #afb1b8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client__link:hover .client__icon,
.client__link:focus .client__icon {
    fill: $accent-color;
}